*{
    font-family: Helvetica;
    margin: 0px;
}
body{
    margin: 0px;
}
#baner, #stopka{
    background: #AF4448;
    color: white;
    text-align: center;
    height: 20px;
    clear: both;
    margin: 0px;
}
#lewy, #prawy{
    background: #FFA4A2;
    height: 650px;
    width: 50%;
    float: left;
    margin: 0px;
}
h4{
    margin: 0px;
}
input[type="submit"]{
    background-color: #AF4448;
    color: white;
    padding: 5px;
    margin: 10px;
}
html{
    margin: 0px;
}
img{
    height: 100px;
    width: 100px;
}